//color NavBar rgb(0, 0, 139)
$colorNavbar: rgb(0, 0, 139);
$navbarBrandHover: rgba(249, 246, 246, 0.195);
$navText: rgba(0, 0, 139, 0.55);
$navHover: rgba(0, 0, 139, 0.9);
$navLinkHover: rgba(0, 0, 139, 0.7);
$navLinkDisable: rgba(0, 0, 139, 0.3);
$navLinkActive: rgba(0, 0, 139, 0.9);
$navbarTogglerBorder: rgba(0, 0, 139, 0.548);
$btnOutlineLight: rgba(0, 0, 139, 0.5);
$btnOutlineLightHover: rgba(0, 0, 139, 0.8);
$btnOutlineLightBorder: rgb(248, 249, 250);
$btnHover: rgb(0, 0, 139);
$btnCheckFocus: #ffffff80;
$btnCheckCheckedBackground: #f8f9fa;
$btnCheckCheckedBoxShadow: #f8f9fa80;
$btninfo: #0dcaf0;
$btnInfoBorder: #0dcaf0;
$btnInfoHover: rgba(13, 202, 240, 0.5);
$btnOutlineInfoHover: rgb(255, 255, 255);
$dropdownItemHover: rgb(245, 245, 245);
$dropdownItemBackground: rgba(0, 0, 139, 0.638);
$dropdownItemActive: rgb(255, 255, 255);
$dropdownItemActiveBackground: rgba(0, 0, 139, 0.4);
$dropdownItemDisabled: #adb5bd;
//
$backgroundcolorblure: rgba(193, 227, 234, 0.647);
